$header-bgc: #00d3e6;
$header-compie-txt: #d9e3e9;

$txt-color-dark: #33455d; //Also header border color and compie bgc
$txt-color-light: #4f778a;

$main-bgc-primary: #f9fbfd;
$main-bgc-secondary: #fff;
$main-agents-found-bgc: #f8fafa;
$main-arrow-bgc: #f7f9f9;
$main-sort-by-price-color: #ff595f;
$main-cart-bgc: #00c6d8;
$aside-color: #aabdc7;
$main-border-color: #d4dfe6;

$footer-white-txt: #edf4f7;
$footer-upper-bgc: #33455d;
$footer-lower-bgc: #2a394d;
$footer-border-color: #425766;
